[Unit]
Description=Periodically update a custom repository of packages

# We add a RandomizedDelaySec to be nicer to the mirrors.
[Timer]
OnCalendar=daily
RandomizedDelaySec=30min
Persistent=True

[Install]
WantedBy=timers.target
